@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter/Inter-Thin.ttf');
    font-weight: 200;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter/Inter-Light.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter/Inter-Medium.ttf');
    font-weight: 500;
}


@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter/Inter-SemiBold.ttf');
    font-weight: 600;
}

body {
    font-family: Inter;
}

.block_content {
    max-width: 1440px;
    padding: 150px 112px;
    width: 100%;
}


.content {
    max-width: 1440px;
    padding: 0px 112px;
    width: 100%;
    margin: auto;
}

.contenth2 {
    margin: 40px 0px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #FFF !important;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.2px;
}

h2 {
    color: #101828;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
}

p {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper h1 {
    color: black !important;
}

.direction.lg\:flex-row-reverse {
    flex-direction: row-reverse;
}

.direction.lg\:flex-row {
    flex-direction: row;
}

.button_custom {
    padding: 15px 40px;
    border-radius: 8px;
    background: #06385F;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    width: fit-content;
}

.blur_custom::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: rgb(181, 211, 234);
    filter: blur(40px);
    top: -30px;
    left: -81px;
    z-index: 4;
}



/* the slides */
.slick-slide {
    margin: 0 20px !important;
}

/* the parent */
.slick-list {
    margin: 0 -20px !important;
}

/* Header */
#menu-header-menu {
    display: flex;
    gap: 45px;
}


#menu-header-menu li a,
#menu-header-menu-1 li a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

#menu-header-menu-1 li {
    margin-top: 50px;
}

.hero {
    padding-top: 230px;
    padding-bottom: 140px;
}

.home-hero {
    padding-top: 330px;
    padding-bottom: 250px
}

.spf-phone.error-msg {
    display: flex !important;
}

@media screen and (max-width: 1200px) {
    .block_content {
        padding: 150px 80px;
    }

    .home-hero {
        padding-top: 330px;
        padding-bottom: 250px;
    }

    #menu-header-menu {
        gap: 25px !important;
    }
}


@media screen and (max-width: 640px) {
    #input_1_1_3_container {
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 1023px) {
    .home-hero {
        padding-top: 170px !important;
        padding-bottom: 80px !important;
    }

    .hero {
        padding-top: 160px !important;
        padding-bottom: 60px !important;
    }

    h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: -0.8px;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.6px;
    }

    .block_content {
        padding: 60px 40px;
    }


    p {
        font-size: 18px;
    }

    .blur_custom::before {
        left: 0px;
    }

    .direction.lg\:flex-row-reverse {
        flex-direction: column-reverse;
    }

    .direction.lg\:flex-row {
        flex-direction: column-reverse;
    }

    .slick-slider {
        display: none !important;
    }

    .blur_custom-2::before {
        position: absolute;
        content: "";
        border-radius: 50%;
        width: 200px;
        height: 97px;
        background: rgb(181, 211, 234);
        filter: blur(40px);
        top: -30px;
        left: -80px;
    }

    .blur_custom-3::before {
        position: absolute;
        content: "";
        border-radius: 50%;
        width: 200px;
        height: 97px;
        background: rgb(181, 211, 234);
        filter: blur(40px);
        top: -30px;
        right: 0px;
    }

    #gform_submit_button_1 {
        padding: 10px 0px !important;
    }

    #blog_content {
        .wp-block-image {
            padding: 0px 40px !important;
        }
    }

    #blog_content h2 {
        padding: 0px 40px !important;
        margin-top: 80px !important;
    }

    #blog_content p {
        padding: 0px 40px !important;
    }

    #get_in_touch h2,
    #latest_blog h2 {
        padding: 0px !important;
        margin-top: 0px !important;

    }

    #get_in_touch p,
    #latest_blog p {
        padding: 0px !important;
    }

    #blog_content #get_in_touch {
        margin-top: 80px !important;
    }

    #blog_content .wp-block-image img {
        margin-top: 80px !important;
    }

    #blog_content {
        margin-top: 0px !important;
    }

    .blog-card:nth-child(1):before,
    .blog-card:nth-child(7):before {
        left: 0px !important;
    }

    .three-columns-custom {
        padding: 60px 40px 0px 40px !important;
    }

    .hero-form form {
        width: 100% !important;
        margin-top: 43px !important;
    }

    #gform_2 {
        width: 350px !important;
        padding: 33px !important;
    }


    .calculator-header {
        .text {
            font-size: 16px !important;
        }

        .logo {
            font-size: 16px !important;

            .span {
                font-size: 16px !important;
            }
        }
    }

    .step-title {
        font-size: 16px !important;
    }

    .w65 {
        .gfield_label::before {
            left: 60px !important;
            height: 56px !important;
            top: 17px !important;
        }

        .bullet {
            left: 50px !important;
            top: 6px !important;
        }

        .gfield_label {
            width: 30% !important;
            font-size: 14px !important;
        }

        .ginput_container {
            width: 70% !important;
        }

        .ginput_container input[type="text"],
        .ginput_container input[type="email"] {
            padding: 5px 20px !important;
            font-size: 14px !important;
        }
    }

    .last .gfield_label::before {
        height: 0px !important;
    }

    #gform_2 .states .gfield-choice-input {
        width: 16px !important;
        height: 16px impora !important;
    }

    #gform_2 .states .gform-field-label {
        font-size: 16px !important;
        margin-left: 16px !important;
    }

    #gform_2 .industry-step .gfield_radio .gchoice .gfield-choice-input {
        margin-right: 0px !important;
    }

    #gform_2 .industry-step label {
        cursor: pointer;
    }

    #gform_2 .ginput_container .gchoice {
        display: flex;
    }

    #gform_2 .gform_next_button,
    .gform_previous_button,
    input[type="submit"] {
        font-size: 16px !important;
    }
}

/* Contact Form */
.gfield_required_text {
    display: none !important;
}

.hero-form form {
    background: #335C7C;
    padding: 40px;
    border-radius: 13px;
    width: 424px;
    position: relative;
    z-index: 50;
}

#gform_confirmation_message_1 {
    position: relative;
    z-index: 50;
}

#gform_fields_1 input,
#gform_fields_1 textarea,
#gform_fields_4 input,
#gform_fields_4 textarea {
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    outline: none;
}

#gform_fields_1 label {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    display: block;
}

.hero-form #gform_fields_4 label {
    color: #fff !important;
}

.hero-form #gform_fields_4 input,
.hero-form #gform_fields_4 textarea {
    background: #D0D5DD54;
    border-color: #d0d5dd54;
    color: #FFF;
}

.hero-form #gform_fields_4 input::placeholder,
.hero-form #gform_fields_4 textarea::placeholder {
    color: #ffffff91;
}

.hero-form #gform_submit_button_4 {
    background: white;
    text-align: center;
    padding: 15px 0px;
    color: #06385F;
    width: 100%;
    border-radius: 8px;
    z-index: 99999;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;

}

.hero-form #gform_fields_4 .ginput_container--name {
    display: flex;
    flex-direction: column;
}

.hero-form #gform_fields_4 .ginput_container--name span {
    width: 100%;
}

.hero-form #gform_fields_4 .ginput_container--name span label {
    margin-bottom: 5px;
}

.hero-form #gform_fields_1 .ginput_container--name span:nth-child(1) {
    margin-bottom: 10px;
}

.gfield_consent_label {
    display: inline !important;
}

.ginput_container_consent {
    text-align: start;
}

.ginput_container_consent label {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #667085 !important;
}

.ginput_container_consent label a {
    border-bottom: 1px solid #667085;
}


#gform_submit_button_1 {
    background: #06385F;
    text-align: center;
    padding: 15px 0px;
    color: white;
    width: 100%;
    border-radius: 8px;
    z-index: 99999;
    position: relative;
    cursor: pointer;
}

#gform_submit_button_1:hover {
    transform: translateY(2px);
}

.menu-mobile-container.active {
    right: 0;
    opacity: 1;
    transition: all 0.8s ease-out;
}

.menu-mobile-container {
    right: -600px;
    top: 150px;
    opacity: 0;
    display: block;
    transition: all 0.8s ease-in;
}

/* hamburguer menu */

#nav-icon4 {
    width: 25px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 25px;
    background: #FFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    /*top: -3px;
    left: 8px;*/
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 0px;
}

.button_hover:hover {
    transform: translateY(2px);
    /*transform: scale(1.01);*/
}

/* Blog Content */

#blog_content {
    .wp-block-image img {
        width: 1440px !important;
        max-height: 520px;
        border-radius: 10px;
        margin-top: 100px;
        object-fit: cover;
    }

    .wp-block-image {
        max-width: 1440px;
        @apply px-[300px];
    }
}

#blog_content h2 {
    max-width: 1440px;
    @apply px-[300px];
    margin-top: 100px;
    margin-bottom: 20px;
    color: #101828;
    position: relative;
    z-index: 50;
}

#blog_content p {
    max-width: 1440px;
    @apply px-[300px];
    color: #475467;
    margin: 20px 0px;
    width: 100%;
}

#blog_content #get_in_touch {
    margin-top: 160px;
}

#blog_content {
    margin-top: 60px;
}

.thumbnail img {
    border-radius: 16px;
    width: 100%;
    position: relative;
    z-index: 50;
}

.thumbnail_industries img {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    width: 100% !important;
    max-height: 307px;
    object-fit: cover;
    position: relative;
    z-index: 50;
}

.pagination .current {
    color: #06385F;
    font-weight: 500;
}

.blog-card:nth-child(1):before,
.blog-card:nth-child(7):before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: rgb(181, 211, 234);
    filter: blur(40px);
    bottom: 70px;
    left: -81px;
    z-index: 4;
}

.blog-card:nth-child(9):before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: rgb(181, 211, 234);
    filter: blur(40px);
    bottom: 30px;
    right: 0px;
    z-index: 4;
}

.industry-card:nth-child(2):before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: rgb(181, 211, 234);
    filter: blur(40px);
    top: -60px;
    right: 0px;
    z-index: 4;
}

.industry-card:nth-child(3):before,
.industry-card:last-child::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: rgb(181, 211, 234);
    filter: blur(40px);
    bottom: -60px;
    left: 0px;
    z-index: 4;
}


.three-columns-custom {
    padding: 150px 112px 0px 112px;
}

#three-column:nth-child(1) {
    position: relative;
}

.card-container ul {
    list-style: disc;
    margin-left: 20px;
    font-size: 16px;
    color: #475467;
    line-height: 24px;
}

.card-container ul li {
    margin-bottom: 10px;
}

.card-container p {
    font-size: 16px;
    color: #475467;
    line-height: 24px;
}

.three-col-card:nth-child(1)::before,
.three-col-card:nth-child(6)::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: rgb(181, 211, 234);
    filter: blur(40px);
    bottom: 30px;
    right: 0px;
    z-index: 4;
}

.three-col-card:last-child::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: rgb(181, 211, 234);
    filter: blur(40px);
    bottom: 30px;
    right: 0px;
    z-index: 4;
}

.team-card:nth-child(4)::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: rgb(181, 211, 234);
    filter: blur(40px);
    bottom: 30px;
    right: 0px;
    z-index: 4;
}

.team-card:nth-child(9)::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: rgb(181, 211, 234);
    filter: blur(40px);
    bottom: 30px;
    left: 0px;
    z-index: 4;
}

.learn_more:hover img {
    transform: translateX(2px);
}

/* calculator form */


#gform_2 {
    width: 610px;
    background-color: #06385F;
    border-radius: 18px;
    padding: 60px;

    .states .gfield_radio {
        height: 335px;
        overflow-y: scroll;
        background-color: #ffffff0d;
        padding: 30px;
        border-radius: 12px;
        margin-top: 40px;

        .gchoice {
            margin-bottom: 20px;
        }
    }

    .gform_next_button,
    .gform_previous_button,
    input[type="submit"] {
        width: 100%;
        background: #fff;
        border-radius: 8px;
        padding: 8px;
        font-size: 18px;
        color: #06385F;
        font-weight: 500;
        margin-top: 60px;
        cursor: pointer;
    }

    .states-step .gform_previous_button,
    .industry-step .gform_previous_button {
        width: 45% !important;
        background: #ffffff33 !important;
        color: #ffffffab !important;
    }

    .states-step .gform_next_button,
    .industry-step .gform_next_button {
        width: 45% !important;
    }

    .ginput_container input[type="text"],
    .ginput_container input[type="email"] {
        background-color: #ffffff54;
        border-radius: 8px;
        border: 1px solid #d0d5dd54;
        padding: 10px 20px;
        color: #fff;
        outline: none;
    }

    .ginput_container input[type="email"] {
        margin-top: 20px;
    }

    #gform_submit_button_2 {
        margin-top: 15px;
        margin-left: 0px;
    }

    #gform_previous_button_2 {
        margin-top: 30px;
    }

    .w65 {
        display: flex;
        margin-top: 20px;
        position: relative;

        .gfield_label {
            width: 35%;
            margin: auto;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            position: relative;
        }

        .gfield_label::before {
            content: "";
            width: 1px;
            background: #FFF;
            height: 61px;
            position: absolute;
            top: 19px;
            left: 100px;
        }

        .ginput_container {
            width: 65%;
        }

        .checked {
            background: #FFF !important;
            transition: all 1s ease;
        }

        .bullet {
            width: 20px;
            height: 20px;
            background-color: #ffffff54;
            border-radius: 100px;
            position: absolute;
            left: 90px;
            top: 10px;
            transition: all 1s ease;
        }
    }

    .w65.last {
        .gfield_label::before {
            height: 0px;
        }
    }

    .states {
        .gform-field-label {
            font-size: 20px;
            color: #ffffff99;
            font-weight: 400;
            margin-left: 20px;
            cursor: pointer;
        }

        .gfield-choice-input {
            outline: none;
            accent-color: #597992;
            width: 20px;
            height: 20px;
        }

    }

    .industry-step .gfield_radio {
        .gchoice {
            padding: 10px 20px;
            border-radius: 10px;
            margin: 0px;

            .gfield-choice-input {
                /*display: none;*/
                margin-right: 20px;
            }

            .gform-field-label {
                cursor: pointer;
                margin: 0px;
            }
        }

    }

    .industry-step select {
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 18px;
        color: #124267;
        outline: none;

    }

    .email-step {
        .gform_previous_button {
            display: none;
        }
    }

    .gfield_description {
        display: none;
    }

}


#calculator-page .gform_validation_errors {
    display: none !important;
}

#gform_3 {
    .gform_button {
        width: 100%;
        background: #fff;
        border-radius: 8px;
        padding: 8px;
        font-size: 18px;
        color: #06385F;
        font-weight: 500;
        cursor: pointer;
    }

    .ginput_container input[type="tel"] {
        background-color: #ffffff54;
        border-radius: 8px;
        border: 1px solid #d0d5dd54;
        padding: 10px 20px;
        color: #fff !important;
        outline: none;
    }
}

.iti__selected-dial-code {
    color: white !important;
}

.calculator-header {
    justify-content: space-between;
    display: flex;

    .text {
        font-size: 20px;
        font-weight: 400;
        color: #ffffffcc;
    }

    .logo {
        font-size: 25px;
        font-weight: 600;
        color: #FFF;

        .span {
            font-size: 25px;
            font-weight: 200;
        }
    }
}

.step-title {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px
}

#gform_2 .industry-step .selected {
    background-color: #ffffffbf;
    padding: 10px 20px !important;

    .gform-field-label {
        color: #124267;
       }
}
#gform_2 .industry-step .gfield-choice-input{
    display: none;
}

#gform_2 .industry-step  {
    padding: 10px 20px !important;
}

.spf-phone.error-msg{
    display: none !important;
}