@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter/Inter-Light.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter/Inter-Medium.ttf');
    font-weight: 500;
}


@font-face {
    font-family: Inter;
    src: url('../assets/fonts/inter/Inter-SemiBold.ttf');
    font-weight: 600;
}

body {
    font-family: Inter;
}

.block_content {
    max-width: 1440px;
    padding: 150px 112px;
    width: 100%;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #FFF !important;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.2px;
}

h2 {
    color: #101828;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
}

p {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.direction.lg\:flex-row-reverse {
    flex-direction: row-reverse;
}

.direction.lg\:flex-row {
    flex-direction: row;
}

.button_custom {
    padding: 15px 40px;
    border-radius: 8px;
    background: #06385F;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    width: fit-content;
}

.blur_custom::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: rgb(181, 211, 234);
    filter: blur(40px);
    top: -30px;
    left: -81px;
}

.line::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: #06385F;
    display: block;
    position: absolute;
}

/* the slides */
.slick-slide {
    margin: 0 20px !important;
}

/* the parent */
.slick-list {
    margin: 0 -20px !important;
}

/* Header */
#menu-header-menu {
    display: flex;
    gap: 45px;
}


#menu-header-menu li a,
#menu-header-menu-1 li a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

#menu-header-menu-1 li {
    margin-top: 50px;
}

.hero {
    padding-top: 230px;
    padding-bottom: 140px;
}
.home-hero {
    padding-top: 330px;
    padding-bottom: 250px
}

.spf-phone.error-msg{
    display: flex !important;
}

@media screen and (max-width: 1200px) {
    .block_content {
        padding: 150px 80px;
    }

    .home-hero {
        padding-top: 330px;
        padding-bottom: 250px;
    }
    
    #menu-header-menu{
        gap: 25px !important;
    }
}


@media screen and (max-width: 640px) {
    #input_1_1_3_container {
       margin-bottom: 20px !important;
    }
}
@media screen and (max-width: 1023px) {
    .home-hero {
        padding-top: 170px !important;
        padding-bottom: 80px !important;
    }

    .hero {
        padding-top: 160px !important;
        padding-bottom: 60px !important;
    }

    h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: -0.8px;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.6px;
    }

    .block_content {
        padding: 60px 40px;
    }


    p {
        font-size: 18px;
    }

    .blur_custom::before {
        left: 0px;
    }

    .direction.lg\:flex-row-reverse {
        flex-direction: column-reverse;
    }

    .direction.lg\:flex-row {
        flex-direction: column-reverse;
    }

    .slick-slider {
        display: none !important;
    }

    .blur_custom-2::before {
        position: absolute;
        content: "";
        border-radius: 50%;
        width: 200px;
        height: 97px;
        background: rgb(181, 211, 234);
        filter: blur(40px);
        top: -30px;
        left: -80px;
    }

    .blur_custom-3::before {
        position: absolute;
        content: "";
        border-radius: 50%;
        width: 200px;
        height: 97px;
        background: rgb(181, 211, 234);
        filter: blur(40px);
        top: -30px;
        right: 0px;
    }
    #gform_submit_button_1 {   
      padding: 10px 0px !important;   
    }
}

/* Contact Form */
.gfield_required_text{
    display: none !important;
}

#gform_confirmation_message_1{
    position: relative;
    z-index: 50;
}

#gform_fields_1 input,
#gform_fields_1 textarea {
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

#gform_fields_1 label {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    display: block;
}

.gfield_consent_label {
    display: inline !important;
}

.ginput_container_consent {
    text-align: start;
}

.ginput_container_consent label {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #667085 !important;
}

.ginput_container_consent label a {
    border-bottom: 1px solid #667085;
}

#gform_submit_button_1 {
    background: #06385F;
    text-align: center;
    padding: 15px 0px;
    color: white;
    width: 100%;
    border-radius: 8px;
    z-index: 99999;
    position: relative;
    cursor: pointer;
}
#gform_submit_button_1:hover{
    transform: translateY(2px);
}
.menu-mobile-container.active {
    top:80px;
    right:0;
    opacity: 1;
    transition: all 0.8s ease-out;
}

.menu-mobile-container {
    right: -600px;
    top: 80px;
    opacity: 0;
    display: block;
    transition: all 0.8s ease-in;
}

/* hamburguer menu */

#nav-icon4 {
    width: 25px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 25px;
    background: #FFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    /*top: -3px;
    left: 8px;*/
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 0px;
}

.button_hover:hover{
    transform: translateY(2px);
    /*transform: scale(1.01);*/
}